.button {
  display: inline-block;
}

.anchor {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 14px 40px 13px;
  overflow: hidden;
  position: relative;
  background: transparent;
}

.anchor:hover {
  color: #b2b2b2;
}

.anchor::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: #596363;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 111%;
  transition: all .3s ease;
}

.anchor:hover::before {
  height: 11%;
}

.text {
  position: relative;
  z-index: 2;
  transition: all .3s ease;
}
